.main-form{
    position: sticky;
    top: 0;
    z-index: 11;
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    padding: 12px 0;
    height: 70px;
}
.modify-button{
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 15px;
    text-align: center;
    width: 100%;
    outline: none;
    padding: 12px 0;
    background: transparent;
    font-weight: 600;
    font-family: 'Open Sans';
}
.search-hotel{
    display: flex;
    align-items: center;
    position: sticky;
    top: 72px;
    z-index: 10;
    background: #e8f2fa;
    padding: 8px 5%;
    width: 100%;
    margin: auto;
}
.search-hotel-div{
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin-right: auto;
    margin-left: 3px;
    width: 60%;
    float: left;
}
.hotel-li-search{
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: #3a3a3a;
    font-weight: 600;
    position: relative;
    padding-right: 13px;
    list-style: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}
.search-button{
    padding: 8px 10px 8px 32px;
    margin-top: 0;
    font-size: 14px;
    border: none;
    border: 1px solid #d2d2d2;
    width: 100%;
    font-weight: 400;
    border-radius: 5px;
}