.trip-option{
    cursor: pointer;
    float: left;
    font-size: 12px;
    list-style: outside none;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    width: 86px;
    font-weight: 600;
    border-radius: 20px;
    margin-right: 1px;

    background-color: #fff !important;
    color: #1853a2!important;
}

.full-refund{
    background-image: linear-gradient(to right, #76C6F5, #62ACEB, #31D2C2, #12C29F);
    padding: 10px 30px !important;
    color: #fff;
}
.covid-refund{
    background-image: linear-gradient(to right, #FF7D83, #D2003C);
    padding: 10px 15px!important;
    color: #fff;
    display: flex;
    border-radius: 12px;
}

.background{
    border-radius: 30px 5px 5px 5px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px solid rgb(211, 211, 255);
    position: relative;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    width: 49%;
    background: #fff url(https://www.easemytrip.com/images/desk-img/side-c.svg);
    background-repeat: no-repeat;
    background-position: -17% 93%;
}