.main-div{
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.image-div{
    -webkit-box-sizing: border-box;
}
.image{
    object-fit: cover;
    width: 273px;
    height: 337px;
    position: relative;
    z-index: 0;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.img-Place{
    border-radius: 15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 147px 0 0 0;
    background: rgba(0,0,0,.28);
    height: 100%;
}
.image-para{
    color: #fff;
    font-size: 27px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}